@import "../node_modules/normalize.css/normalize.css";

html,
body {
    margin: 0;
    padding: 0;
    background: rgba(64, 64, 64, 1);
    overflow-y: hidden;
}

#game-area {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-area canvas {
    display: block;
    margin: 2rem 2rem;
    border: 0px solid black;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    border-collapse: collapse;
    color: black;
    background-color: #f9f9f9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    max-width: 720px;
}

#controls th {
    border: 1px solid #aaa;
    padding: 0.3em 0.4em;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

#controls tr {
    border: 1px solid #aaa;
    padding: 0.3em 0.4em;
}

#controls td {
    border: 1px solid #aaa;
    padding: 0.3em 0.4em;
    text-align: center;
}

#controls .pad-button,
#controls .key-button {
    cursor: default;
}

#controls .pad-button:hover,
#controls .pad-button:active {
    background-color: white;
    box-shadow: 0px 0px 0.5em black;
}

.button-pad {
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    width: 6rem;
    height: 6rem;
    position: fixed;
}

.pad-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    height: 2rem;
    min-width: 2rem;
    border-radius: 100%;
    box-shadow: 0px 0px 0.5em black;
    text-align: center;
    cursor: pointer;
    font-family: monospace;
    transition: all ease 50ms;
}

.center-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1em;
    padding: 0 0.25em;
}

.key-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    margin: 0;
    height: 2rem;
    padding: 0 0.5rem;
    min-width: 1rem;
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
    font-family: monospace;
}

.pad-button:hover {
    background-color: lightgrey;
}

.pad-button:active {
    background-color: darkgrey;
    box-shadow: none;
}

.left {
    left: 1em;
}

.right {
    right: 1em;
}

.noselect {
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
