@import "../node_modules/normalize.css/normalize.css";

@font-face {
    font-family: "Game";
    src: "../node_modules/font-awesome/fonts/Arial.ttf";
    ascent-override: 110%;
}

html,
body {
    margin: 0;
    padding: 0;
    background: rgba(64, 64, 64, 1);
}

#game-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-area canvas {
    display: block;
    margin: 2rem 2rem;
    border: 0px solid black;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

#controls td {
    color: lightgrey;
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
}

.joy-button {
    background: darkred;
    color: lightgrey;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
    padding: 1rem;
}

.button-pad {
    display: inline-block;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    width: 6rem;
    height: 6rem;
    position: fixed;
    bottom: 1rem;
}

.pad-button {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 2rem;
    min-width: 2rem;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    cursor: pointer;
    font-family: monospace;
}

.center-button {
    display: inline-flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    bottom: 1rem;
    padding: 0 0.25rem;
}

.pad-button:hover {
    background-color: lightgrey;
}

.pad-button:active {
    background-color: darkgrey;
}

.left {
    left: 1rem;
}

.right {
    right: 1rem;
}

.noselect {
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
